{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class = "header" style="display: flex">
            <h1 class="mt-3 mb-4" style="margin-right: 50px">Books</h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.book_name }}</h5>
                            <p class="card-text">{{ book.description }}</p>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('book_detail', {'id':book.id}) }}" class="btn btn-dark">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}